.lead__caption {
	font-family: 'Inter';
	font-size: 10px;
	font-weight: 400;
	line-height: 14px;
	letter-spacing: 1.5px;
	text-transform: uppercase;
	text-align: left;
	margin: 0;
	white-space: nowrap;
	align-self: start;
	padding-top: 8px;
	width: 158px;
	height: 14px;
}

@media all and (max-width: 1010px) and (min-width: 700px) {
	.lead__caption {
		padding-left: 24px;
	}
}

@media all and (max-width: 700px) {
	.lead__caption {
		padding-left: 16px;
	}
}