.content {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	align-self: center;
	width: 80%;
}

@media all and (max-width: 1270px) and (min-width: 1020px) {
	.content {
		width: 95%;
	}
}

@media all and (max-width: 1010px) {
	.content {
		width: 100%;
	}
}