.photo-grid {
	display: grid;
	width: 120%;
	align-self: center;
	grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
	gap: 16px;
}

@media screen and (max-width: 1270px) and (min-width: 1010px) {
	.photo-grid {
		width: 100%;
		gap: 14px;
	}
}

@media all and (max-width: 1010px) {
	.photo-grid {
		width: 95%;
		gap: 16px;
	}
}
@media all and (max-width: 700px) {
	.photo-grid {
		gap: 12px;
	}
}