.header {
	width: 92.5%;
	min-height: 52px;
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
	padding-top: 28px;
	padding-bottom: 56px;
}

@media all and (max-width: 760px) {
	.header {
		padding-top: 16px;
		width: 90%;
	}
}

@media screen and (max-width: 1270px) and (min-width: 1000px) {
	.header {
		width: 90.5%;
	}
	
}

@media all and (min-width: 760px) and (max-width: 1000px) {
	.header{
		width: 94%;
	}
}

@media all and (max-width: 1270px) {
	.header {
		padding-bottom: 48px;
	}
}