.footer__copyright {
	margin: 0;
	padding: 0;
	font-size: 14px;
	font-weight: 400;
	line-height: 16px;
	letter-spacing: 0;
	text-align: right;
}

@media all and (max-width: 760px) {
	.footer__copyright {
		text-align: left;
		line-height: 14px;
	}
}