.header {
	width: 95%;
	max-height: 52px;
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
	padding-top: 28px;
	padding-bottom: 56px;
}

@media all and (max-width: 440px) {
	.header {
		padding-top: 16px;
	}
}

@media screen and (min-width: 440px) and (max-width: 1270px) {
	.header {
		padding-bottom: 48px;
	}
	
}