.cover__text {
	display: flex;
	align-items: center;
	flex-direction: column;
	row-gap: 32px;
	width: 100%;
	height: 100%;
	text-decoration: none;
	color: #fff;
}

@media all and (max-width: 760px) {
	.cover__text {
		row-gap: 16px;
	}
	
}

.cover__text::after {
	display: block;
	content: '';
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 3;
}