.intro {
	width: 690px;
	align-self: flex-start;
	padding-top: 92px;
	padding-bottom: 92px;
}

@media screen and (max-width: 1010px) and (min-width: 700px) {
	.intro {
		padding-top: 88px;
		padding-bottom: 88px;
	}
}

@media all and (max-width: 700px) {
	.intro {
		padding-top: 64px;
		padding-bottom: 64px;
	}
}

@media all and (max-width: 1010px) {
	.intro {
		width: 95%;
		align-self: center;
	}
}