.cover__text {
	position: absolute;
	display: flex;
	align-items: center;
	flex-direction: column;
	row-gap: 32px;
}

@media all and (max-width: 700px) {
	.cover__text {
		row-gap: 16px;
	}
	
}

.cover__text:hover {
	cursor: pointer;
}